<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title>Devices</title>
</head>
<body>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Sidebar -->
    <% include ../partials/sidebar %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Devices
                <small>Lista de Devices</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-tablet"></i> Home</a></li>
                <li class="active">Devices</li>
            </ol>
        </section>

        <section class="content">
            <div class="box">
                <div class="box-header box-primary">
                    <a href="/devices/form" class="btn btn-primary">Registrar Device</a>
                </div>
            </div>
            <div class="row">
                <% for(var i=0; i< devices.length; i++) {%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-tablet"></i></span>
                        <div class="info-box-content">
                            <form action="/devices/delete" method="post" class="pull-right" style="margin: 0; padding: 0;">
                                <input type="hidden" name="id" value="<%= devices[i].id %>">
                                <button class="btn btn-sm btn-danger" title="Remover Device"><i class="fa fa-trash"></i></button>
                            </form>
                            <span class="info-box-text" style="font-weight: bold"><%= devices[i].name %></span>
                            <span class="info-box-text" style="font-size: 12px;">ID: <%= devices[i].id %></span>
                            <span class="info-box-text" style="font-size: 12px;">Address: <%= devices[i].address %></span>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </section>
    </div>
    <% include ../partials/main-footer.ejs %>
</div>
</div>
<% include ../partials/footer %>
</body>
</html>